html {
    /* background-color: #024889; */
    background-color: #1d1f21;
    color: white;
    /* font-family: Menlo, "Roboto", sans-serif; */
    background-color: #1d1f21;
    color: #c9cacc;
    font-weight: 400;
    font-size: 14px;
    font-family: "Roboto", Menlo, "Meslo LG", monospace;
    line-height: 1.725;
    text-rendering: geometricPrecision;
    -moz-osx-font-smoothing: grayscale;
}

/* #fe5942 */
/* #ffc45e */
/* #f74f3c */

/* html div {
    border: 1px solid black;
} */

hr {
    color: white;
    width: 80%;
}

.nav-bar__wrapper {
    height: 80px;
    margin: 20px 10% 20px 10%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid white;
}

.nav-bar__wrapper a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.hero__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 0 3%;
}

.hero__container h5 {
    color: #2bbc8a;
    /* color: #ffc45e; */
    margin-left: 122px;
    margin-bottom: 20px;
    letter-spacing: 8px;
}

.hero__container h1 {
    font-size: 60px;
    margin: 0;
    line-height: 51px;
}

.hero__container p {
    width: 300px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.text-box {
    display: inline-block;
}

.explore-box {
    margin-left: 0;
}

.hero__image {
    width: 50%;
    height: 600px;
}

.hero__image img {
    margin-top: 61px;
    width: 500px;
    height: auto;
}

.hero__button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
    margin-right: -159px;
    cursor: pointer;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #2bbc8a;
}

.hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2bbc8a;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
