html {
    background-color: #024889;
    color: white;
    font-family: "Roboto", sans-serif;
}

/* #fe5942 */
/* #ffc45e */
/* #f74f3c */

/* html div {
    border: 1px solid black;
} */

hr {
    color: white;
    width: 80%;
}

.nav-bar__wrapper {
    height: 80px;
    margin: 20px 10% 20px 10%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid white;
}

.nav-bar__wrapper a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.hero__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 0 3%;
}

.hero__container h5 {
    color: #ffc45e;
    margin-left: 122px;
    margin-bottom: 20px;
    letter-spacing: 8px;
}

.hero__container h1 {
    font-size: 60px;
    margin: 0;
    line-height: 51px;
}

.hero__container p {
    /* padding: 0 32%; */
    width: 300px;
}

.hero__image {
    width: 50%;
    height: 600px;
}

.hero__image img {
    width: 630px;
    height: auto;
}

.hero__button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
    margin-right: -159px;
    cursor: pointer;
}
